@{
    ViewBag.Title = "About The Program";
    ViewBag.Message = "Schedule, Organize, and Update surgery information.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This program is derived to allow doctors and nurses to easily record information regarding patient history, contact information, appointment scheduling, invoices and more.</p>
