@{
    ViewBag.Title = "Support";
    ViewBag.Message = "If you are having technical difficulties";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Please Call:</strong><br />
    
    <abbr title="Phone">P:</abbr>
    513.830.4308
</address>

<address>
    <strong>Or Email:</strong>   <a href="outlook.com">sk072215@ohio.edu</a><br />
    
</address>